<div id="artInfo" class="row d-flex align-items-center flex-column mt-2">
  <div
    *ngIf="
      !artistInfo.biography ||
      !artistInfo.birthday ||
      !artistInfo.deathday ||
      !artistInfo.nationality
    "
    class="alert alert-danger w-100"
    role="alert"
  >
    <p>
      <span *ngIf="!artistInfo.biography"> No Biography </span>
      <span *ngIf="!artistInfo.birthday">No Birth Year </span>
      <span *ngIf="!artistInfo.deathday"> No Death Year </span>
      <span *ngIf="!artistInfo.nationality">No Nationality</span>
      <span>for {{artistInfo.name }}</span>
    </p>
  </div>
  <h3>
    {{ artistInfo.name }} ({{ artistInfo.birthday }} -
    {{ artistInfo.deathday }})
  </h3>
  <p>{{ artistInfo.nationality }}</p>

  <p class="m-4">{{ artistInfo.biography }}</p>
</div>
