<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          (keyup)="setName($event)"
          #searchInput
        />
        <button
          (click)="searchArtists($event)"
          class="btn btn-outline-primary ml-2"
          type="submit"
        >
          Search
        </button>
      </form>
    </div>
    <div class="col-sm-2"></div>
  </div>

  <ng-container *ngIf="isLoading">
    <div class="row d-flex justify-content-center mt-5">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </ng-container>
  <div id="card_container" class="row flex-row flex-nowrap mt-5">
    <div
      *ngFor="let artist of artistInfo"
      class="col-12 col-sm-6 col-md-4 col-lg-3"
    >
      <div (click)="onCardClick(artist)" class="card">
        <img
          src="{{ artist._links.thumbnail.href}}" 
          class="card-img-top"
          alt="..."
        />
        <div class="card-body bg-info">
          <p class="card-text">{{ artist.title }}</p>
        </div>
      </div>
    </div>
  </div>
  <mat-tab-group class="mt-5" style='min-height:400px' *ngIf="showTabs"  mat-align-tabs="center">
    <mat-tab label="Artist Info">
      <app-artist-info
        [artistInfo]="artistBio.artistInfo"
        *ngIf="artistBio else loading"
      ></app-artist-info>
    </mat-tab>
    <mat-tab label="Artowrks">
        <app-artworks
        *ngIf="artistBio else loading"
        [artworks]="artistBio.artworks"
      ></app-artworks>
    </mat-tab>
  </mat-tab-group>

  <ng-template #loading>
    <div class="row d-flex justify-content-center mt-5">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </ng-template>

</div>
