<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          (keyup)="setName($event)"
        />
        <button
          (click)="searchArtists($event)"
          class="btn btn-outline-primary ml-2"
          type="submit"
        >
          Search
        </button>
      </form>
    </div>
    <div class="col-sm-2"></div>
  </div>

  <ng-container *ngIf="isLoading">
    <div class="row d-flex justify-content-center mt-5">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </ng-container>
  <div id="card_container" class="row flex-row flex-nowrap mt-5">
    <div
      *ngFor="let artist of artistInfo"
      class="col-12 col-sm-6 col-md-4 col-lg-3"
    >
      <div (click)="onCardClick(artist)" class="card">
        <img
          src="{{ artist._links.thumbnail.href }}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body bg-info">
          <p class="card-text">{{ artist.title }}</p>
        </div>
      </div>
    </div>
  </div>

  <app-artist-info [artistInfo] = "artistBio.artistInfo" *ngIf="artistBio" ></app-artist-info>
  <app-artworks *ngIf="artistBio" [artworks] = "artistBio.artworks"></app-artworks>
</div>

